/**去除浏览器上自带的样式**/

/**去除iPhone、iPad的默认样式*/
input {
    -webkit-appearance: none;
    border-radius: 0;
}

textarea {
    -webkit-appearance: none;
}

/**去除Chrome等浏览器文本框默认发光边框**/
input:focus, textarea:focus {
    outline: none;
    /**以下两个去除高光样式**/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-modify: read-write-plaintext-only;
}

 button:focus {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
 }

/**去除IE10+浏览器文本框后面的小叉叉**/
input::-ms-clear {
    display: none;
}

/**禁止多行文本框textarea拖拽**/
.textarea {
    resize: none;
}

a:active {
    background-color: #ffffff;
}